<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}">Insert title here</title>
</head>
<body>

	<h1 th:text="${titulo}"></h1>
	<h1 th:text="${factura.descripcion}"></h1>
	

	<h4>Detalle de la factura</h4>

	<table>
		<thead>
			<tr>
				<th>PRODUCTO</th>
				<th>PRECIO</th>
				<th>CANTIDAD</th>
				<th>TOTAL</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item: ${factura.items}">
				<td th:text="${item.producto.nombre}"></td>
				<td th:text="${item.producto.precio}"></td>
				<td th:text="${item.cantidad}"></td>
				<td th:text="${item.producto.precio * item.cantidad}"></td>

			</tr>
		</tbody>
	</table>





</body>
</html>